@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
select {
  font-weight: 500;

  text-decoration: inherit;
  font-size: 18px;
}
a:hover {
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: hsl(212, 73%, 68%);
  /*background-color: #8698c9;*/
  background-color: aliceblue;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
  }
  button {
    background-color: #f9f9f9;
  }
}

select {
  color: hsl(212, 53%, 51%);
  background-color: white;
  border-radius: 8px;
  border: 1px solid hsl(212, 53%, 51%);
  width: 200px;
  height: 50px;
}

p {
  font-size: 20px;
}

input,
button:focus {
  outline: none;
}
